// CONFIGS
@import 'configs/variables.styl'
@import 'configs/reset.styl'
@import 'configs/fonts.styl'
@import 'configs/typography.styl'
@import 'configs/global.styl'

// SECTIONS
@import 'sections/nft-card.styl'