@font-face
  font-family Outfit
  font-weight 100

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-extralight.ttf),
	url(../assets/fonts/outfit/outfit-extralight.eot),
	url(../assets/fonts/outfit/outfit-extralight.woff),
	url(../assets/fonts/outfit/outfit-extralight.woff2)
  font-weight 200

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-light.ttf),
	url(../assets/fonts/outfit/outfit-light.eot),
	url(../assets/fonts/outfit/outfit-light.woff),
	url(../assets/fonts/outfit/outfit-light.woff2)
  font-weight 300

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-regular.ttf),
	url(../assets/fonts/outfit/outfit-regular.eot),
	url(../assets/fonts/outfit/outfit-regular.woff),
	url(../assets/fonts/outfit/outfit-regular.woff2)
  font-weight 400

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-medium.ttf),
	url(../assets/fonts/outfit/outfit-medium.eot),
	url(../assets/fonts/outfit/outfit-medium.woff),
	url(../assets/fonts/outfit/outfit-medium.woff2)
  font-weight 500

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-semibold.ttf),
	url(../assets/fonts/outfit/outfit-semibold.eot),
	url(../assets/fonts/outfit/outfit-semibold.woff),
	url(../assets/fonts/outfit/outfit-semibold.woff2)
  font-weight 600

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-bold.ttf),
	url(../assets/fonts/outfit/outfit-bold.eot),
	url(../assets/fonts/outfit/outfit-bold.woff),
	url(../assets/fonts/outfit/outfit-bold.woff2)
  font-weight 700

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-extrabold.ttf),
	url(../assets/fonts/outfit/outfit-extrabold.eot),
	url(../assets/fonts/outfit/outfit-extrabold.woff),
	url(../assets/fonts/outfit/outfit-extrabold.woff2)
  font-weight 800

@font-face
  font-family Outfit
  src url(../assets/fonts/outfit/outfit-black.ttf),
	url(../assets/fonts/outfit/outfit-black.eot),
	url(../assets/fonts/outfit/outfit-black.woff),
	url(../assets/fonts/outfit/outfit-black.woff2)
  font-weight 900